<div>
    <div class=" home">

        <div class="  " style="position: absolute;width: 100%;background-color: rgba(0, 139, 139, 0.297); ; ">
            <div class="  d-flex  " style="position: absolute; z-index: 11; width:40%; z-index: 10;">

                <button type="button" class=" homeNav btn btn-outline-light   ">
                    <h2>Add new element</h2>
                </button>
                <button type="button" class=" homeNav btn btn-outline-light  ">
                    <h2>Create</h2>
                </button>
                <button type="button" class=" homeNav btn btn-outline-light ">
                    <h2>Grow</h2>
                </button>
            </div>


        </div>

        <div class="  " style=" ">
            <div class="  " style=" ">
                <div class=" homeBoxImg" style="z-index: 5;">
                    <button type="button" class=" homeNav btn btn-outline-light   ">
                        <br>
                        <h2>Add new element</h2>
                    </button>
                    <!--<img src="assets\img\Sy6msClCw5.jpg" alt="">-->
                </div>




            </div>

        </div>




    </div>
</div>