<p>acceuil-test2 works!</p>
<div class="container-fluid" style="overflow: hidden;">
    <div class=" row d-flex home">
        <div class="row d-flex justify-content-around align-items-center">

            <div class=" col-6  align-content-center justify-content-center ">
                <div style=" background-color: rgba(255, 255, 255, 0.509); width: min-content ; height: min-content;">
                    <h1 class="homeNav">Learn</h1>
                    <h1 class="homeNav">Create</h1>
                    <h1 class="homeNav">Grow</h1>
                </div>

            </div>


            <div class=" col-6 homeBoxImgContainer d-flex  align-item-center justify-content-around "
                style="margin-top: 5%; margin-bottom: 5%;">
                <div class=" homeBoxImg" style="">
                    <img src="assets\img\Sy6msClCw5.jpg" alt="">
                </div>
                <div class="  homeBoxImg" style="background-color: pink;">
                </div>
                <div class="  homeBoxImg" style="background-color: rgb(117, 95, 160);">
                </div>



            </div>



        </div>
    </div>
</div>